- content_for :title do
  About

- content_for :side_bar do
  .col-lg-3
    .well.sidebar-nav.center
      %h3 Login
      %ul.nav.nav-list
        %li= link_to "Link1", "/path1"
        %li= link_to "Link2", "/path2"
        %li= link_to "Link3", "/path3"

%h1 About
